/* Style file */


/* common styles starts here */

.btn-primary{
    width: 180px;
height: 50px;
align-items: center;
padding: 17px 24px 17px 24px;
}
.title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 38px;
font-weight: 800;
cursor: pointer;
}

.subtitle{

 color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
  
    
  
}
/* common styles ends here */


/*  header section starts */
#navigation{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
display: flex;
justify-content: space-between;
margin: 2% 10% 5% 10%;
flex-direction: row;

}
 
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    padding: 5px;
    margin-bottom: 5%;
}

.banner .btn-primary{
    background-color: black;
    color: white;
}


/* Header section ends here */

/* -----------------------------main section styles ---------------------------------------------*/

/* web development section styles starts */
.web-development-title{
   text-align: center;
  
}
.web-development-details{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
  
    

}
.web-development-details h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;

}
#web-development{
    background-color: azure;
    margin: 5% 10% 5% 10%;
    border: 5px solid white;


}

.left-side{
    width: 50%;
    border: 5px solid white;
    border-radius: 16px;
background: white
}
.dev-img{
    width: 400px;
height: 300px
}

/* web development section styles ends */
/* ----------------------------------------second main section-------------------------------- */
/* inspiration section starts  */
.inspiration{
    text-align: center;
    
}
.inspiration p{
    text-align: center;
   
    
}

#inspiration{
    margin: 5% 10% 5% 10%;
}
.video{
    border: 5px solid gainsboro;
    padding: 10px;
    box-shadow: 5px 10px whitesmoke;
    border-radius: 10px;
}

/* inspiration ends */

/* --------------------My current course------------------ */
/* current course section starts */
.current-target-title .title{
    text-align: center;
}

.current-target-courses{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
  
    margin: 5% 10% 5% 10%;
    gap:10px;
    border: 2px solid white;
    padding: 10px;

   
    

   
    
}

.current-target-course{
   text-align: start;
   
    border: 2px solid white;
    width: 33%;
   height: 350px;
  
   


}

#course-1{
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
   
}
#course-2{
    background-color:aquamarine;
    margin: 10px;
    padding: 10px;
}
#course-3{
    background-color:beige;
    margin: 10px;
    padding: 10px;
}

/* ends */

/*-------------------------------- support---------------------- */


.support-section{
    text-align: center;
    background-image: url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    background-blend-mode: darken;


 
    width: 1044px;
    height: 300px;
    margin-left: 12%;

padding:10px;

}

#submit{
    width: 313px;
height: 30px;



}

#submit-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
width: 100px;
height: 35px;

}
#form{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
}

/* ------------------footer------------------ */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 5%;
    gap:15px;
   
}
#footer{
    background-color: azure;
}

.icon{
    display: flex;
    gap: 10px;
    justify-content: row;
    align-items: center;
}
#submit-btn{
    text-align: center;
    padding: 5px;
}